.venv/
/data/
*.zip
**/__pycache__/
**/*.pyc
outputs/

checkpoints/*.pth

!checkpoints/autoencoder_8ch_512_best.pth
!checkpoints/ldm_unet_8ch_512_best.pth

!checkpoints/autoencoder_epoch_50.pth
!checkpoints/autoencoder_epoch_150.pth
!checkpoints/autoencoder_epoch_250.pth

!checkpoints/ldm_unet_epoch_50.pth
!checkpoints/ldm_unet_epoch_200.pth
!checkpoints/ldm_unet_epoch_400.pth

*.pt